/* @media only screen and (min-width: 600px) {
 html }

@media only screen and (min-width: 768px) {
  
} */
* {
    margin: top 50px;
    padding: 10px;
    font-family: 'Zen Kurenaido', sans-serif;
    text-decoration: none;   
    font-weight: bolder;
}
html {
    height:100%;
  }
  
body {
    min-height: 100%;
}

  #boton{
    align-items: center;
    border-radius: 15px;
    
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 50px;
  }
  form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid #f2796e;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #09f; 
  border: 2px solid rgb(204, 138, 51)f;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
  .bga {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(204, 51, 102) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  .bgb {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(120, 204, 51) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  
  .bgc {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(51, 204, 196) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bgd {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(204, 201, 51) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bge {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(110, 51, 204) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bgr {
    animation:slide 80s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(51, 204, 196) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(204, 138, 51) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
 
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
#h1 {
    color: rgb(0, 53, 199);
    background-color:transparent;
    text-align: center;
    font-size: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
#st{
    color: rgb(8, 26, 131);
    background-color:transparent;
    text-align: left;
    font-size: 4vh;
}
#h2{
    color: rgb(5, 121, 141);
    background-color: transparent;
    text-decoration:underline;
    font-size:6vh;
}
#p{
    color:black;
    font-style: italic;
    font-size:4vh;
    text-decoration: none;
    color:inherit
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
#Header{
    margin-left: 2;
    position:absolute top, right;
    text-align:right
}
#texto{
    color: black;
   text-align: left;
    margin-left: 5vh;
    text-decoration: none;
    font-size: 2vh;
}
footer{
    position: fixed;
    bottom: 2vh;
    right: 0.1vh;
    height:2vh;
    z-index:10vh;
    text-decoration: transparent;
    text-align:right;
    font-size: 3vh;;
    width: 100%;
    margin: 0;
    background-color: transparent;
}
span{
    color: rgb(0, 53, 199);
    background-color:rgb(189, 202, 204); 
    border: 1px solid;
    transition: 1s;
}
span2{
    background-color:rgb(189, 202, 204); 
    border: 1px solid;
    transition: 1s;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    }  

span1{
    color: green;
    background-color:rgb(189, 202, 204); 
    border: 1px solid;
    transition: 1s;
}
img{
    margin: 20px;
    width: 100vh;
    border-radius : 25px;
}
#p::first-letter{
    color: rgb(26, 114, 247);
    font-size: 6vh;
}
#fotos {
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row ;
    align-items: space-around;
    justify-content: center;
    width: 100%;
    }
#foto{
    padding: ivh;
}
span2:hover{
    animation-name: arcoiris;
}
span1:hover{ 
    color:rgb(112, 2, 214);
}

@keyframes arcoiris {
  0% {color: red;}
  20% {color: yellow;}
  40% {color: green;}
  60% {color: blue;}
  80% {color: violet;}
  100% {color: red;}
}

  
.logo
{
  
  display: flex ;
  flex-wrap: wrap;
  flex-direction: row ;
  align-items: space-around;
  justify-content:space-between;
  max-height:100vh;
  max-width: 60vh;
  }


.box {
  display: flex;
  background-color: transparent;
  justify-content:flex-start;
  align-items: center;
  align-content: stretch;
  width: 100%;
  font-weight: bold;
  flex-wrap: wrap;
}
.item1 {
  background-color: transparent;
  width: 20vh;
  margin: 1vh;
  text-align: center;
  line-height: 1vh;
  font-size: 2vh;

}
.item2 {
  background-color: transparent;
  width: 20vh;
  margin: 1vh;
  text-align: left;
  line-height: 2vh;
  font-size: 2vh;
}

textarea {
  padding: 1vh;
  width: 100%;
  height: 100%;
  border: none;
  resize:both;
  font-size: 2vh;
}




